*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat';
    list-style: none;  
}

*::-webkit-scrollbar{
    display: none;
}

body{
    font-family: 'montserrat';

}

.warna{
    background: rgba(181, 171, 22, 1);
}

.row{
    font-family: 'montserrat';
    padding-top: 120px;
    padding-left: 22.55%;
    width: 100%;
    min-height: 100%;
    
}

.row::after{
    content: "";
    display: table;
}

.kolom1{
    width: 100%;
    text-align: left;
    float: left;
    padding-top: 20px;
    padding-left: 20px;
    background: #fafafa;
    font-family: "montserrat";
}


.kolom1 h3{
    font-weight: lighter;
    padding-top: 8px;
    margin-left: 10px;
    width: 300px;
    font-weight: bold;
}

.kolom1 input{
    line-height: 20px;
    outline: none;
    width: 300px;
    height: 30px;
    padding-left: 10px;
}

.kolom1 h4{
    font-weight: lighter;
    padding-top: 15px;
    width: 300px;
}

.kolom1 hr{
    width: 96.5%;
    margin-left: 10px;
    margin-top: 5px;
}

.artikel-terkait{
    width: 100%;
    padding: 20px;
    float: left;
}

.artikel-terkait img{
    margin-top: 0px;
    width: 280px;
    height: 166px;
    border-radius: 5px;

}

.jadigede{
    float: left;
    transition: all .5s;
}
.jadigede:hover{
    transform: scale(1.1);
}

.artikel-terkait img:hover{

}

.artikel-terkait a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    padding: 10px;
    float: left;
}


.kolom2{    
    display: table;
    text-align: left;
    width: 100%;
    padding: 10px 0px;
}

.konten{
    margin-left: 0;
}

.kolom2 img{
    padding-top: 20px;
    width: 750px;
    height: 750px;
}

.kolom2 p{
    padding-top: 10px;
    width: 750px;
    white-space: pre-line;
}

.kolom2 h1{
    width: 750px;
}

.kolom2 h4{
    width: 750px;
    line-height: 30px;
    color: #B4B4B3;
    font-weight: lighter;
}

.tag{
    line-height: 50px;
    padding: 5px 3%;
    color: #ffffff;
    background: #ACA533;
    margin: auto 10px;
    border: 2px solid;
    text-align: center;
    font-size: 12px;
    transition: all ease-in-out .2s;
}

hr{
    width: 750px;
    
}

