* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat';
}

*::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'montserrat';
    background: #ACA533;
    font: 1.2em/1.2em 'Open Sans', sans-serif;
}

html {
    --lh: 1.4rem;
    line-height: var(--lh);
}


.gambar-konten {
    background: url(../Image/pohonmasihkecil.jpg) no-repeat;
    background-size: cover;
    height: 100%;
}

.overlay {
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    box-shadow: inset 100px 100px 100px 500px rgba(0, 0, 0, .7);
}

.heading {
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'montserrat';
    font-size: 60px;
    color: #fff;
    margin: auto 120px;
    line-height: 150px;
}

.pos h3 {
    padding-top: 55px;
    font-size: 28px;
    color: #fff;
    overflow: hidden;
}

.arrowdown {
    padding-top: 80px;
    width: 50px;
}

.arrowdown:hover {
    cursor: pointer;
    animation: bounce 1s linear;
}

@keyframes bounce {

    20%,
    50%,
    80%,
    to {
        transform: translateY(0);
    }

    40% {
        transform: translateY(-30px);
    }

    70% {
        transform: translateY(-15px);
    }

    90% {
        transform: translateY(-4px);
    }
}

.pos {
    text-align: center;
    padding-top: 50px;
    display: table-cell;
    vertical-align: middle;
}

.pos input {
    width: 700px;
    height: 60px;
    font-size: 38px;
    padding: 0px 20px;
    outline: none;
}

.artikel-list::after {
    content: "";
    display: table;
}

.artikel-list {
    background: #fff;
    width: 100%;
    min-height: 100%;
    padding-bottom: 50px;
}

.artikel {
    padding-top: 70px;
    padding-left: 125px;
    width: 85%;
}

hr{
    width: 800px;
}

.pertama {
    width: 800px;
}

.pertama h3{
    font-size: 20px;
}

.pertama p{
    font-size: 18px;
}

.first {
    margin-bottom: 10px;
    width: 800px;
    height: 336px;
}

.kontenhorizontal {
    margin-top: 5px;
    padding-top: 20px;
}

.kontenhorizontal img{
    width: 280px;
    height: 166px;
    margin-right: 20px;
    float: left;
    border-radius: 5px;
    transition: all .5s;
}

.kontenhorizontal img:hover{
    transform: scale(1.05);
}

.kontenhorizontal h3{
    width: 500px;
    font-size: 20px;
    padding-bottom: 10px;
    text-align: justify;
    cursor: pointer;
}

.artikel a{
    color: #000000;
    text-decoration: none;
    width: auto;
}

.kontenhorizontal p{
    font-size: 18px;
}

.cuttext {
    width: 800px;
    margin: 0 0 2em 0;
    overflow: hidden;
}

.cuttext2 {
    width: 500px;
    margin: 0 0 2em 0;
    overflow: hidden;
}

.titik3 {
    --max-lines: 3;
    line-height: 1.25;
    position: relative;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
}