*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat';
}

*::-webkit-scrollbar{
    display: none;
}

body{
    font-family: 'montserrat';
    background: #ACA533;
}


.gambar-konten{
    background: url(../Image/pohonmasihkecil.jpg) no-repeat;
    background-size: cover;
    height: 100%;
}

.overlay{
    display: table;
    width: 100%;
    height: 100%;
    min-height: 100%;
    box-shadow: inset 100px 100px 100px 500px rgba(0, 0, 0, .7);  
}

.heading {
    text-transform: uppercase;
    font-weight: 700;
    font-family: 'montserrat';
    font-size: 60px;
    color: #fff;
    margin: auto 120px;
    line-height: 150px;
}

.pos h3{
    padding-top: 55px;
    font-size: 28px;
    color: #fff;
}

.arrowdown{
    padding-top: 80px;
    width: 50px;
}

.arrowdown:hover{
    cursor: pointer;
    animation: bounce 1s linear;
}

@keyframes bounce{
    20%,50%,80%,to{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-30px);
    }
    70%{
        transform: translateY(-15px);
    }
    90%{
        transform: translateY(-4px);
    }
}

.pos{
    text-align: center;
    padding-top: 50px;
    display: table-cell;
    vertical-align: middle;
}

.pos input{
    width: 700px;
    height: 60px;
    font-size: 38px;
    padding: 0px 20px;
    outline: none;
}

.row::after{
    content: "";
    display: table;
}

.row{
    background: rgb(181, 171, 22);
    width: 100%;
}

.logoisogrow{
    width: 700px;
    z-index: 1;
    margin-top: -60px;
}

