*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat';
    list-style: none;
    
}

*::-webkit-scrollbar{
    display: none;
}

body{
    font-family: 'montserrat';

}

.warna{
    background: rgba(181, 171, 22, 1);
}

.row{
    font-family: 'montserrat';
    padding-top: 150px;
    padding-left: 120px;
    width: 100%;
    min-height: 100%;
    
}

.row::after{
    content: "";
    display: table;
}

.kolom1{
    width: 28%;
    text-align: left;
    float: left;
}

.kolom1 h3{
    font-weight: lighter;
    padding-top: 15px;
}

.kolom1 input{
    line-height: 20px;
    outline: none;
    width: 200px;
    height: 30px;
    padding-left: 10px;
}


.kolom2{    
    width: 72%;
    padding: 10px 0px;
    float: left;
}

.kolom2 img{
    padding-top: 20px;
    width: 750px;
    height: 750px;
}

.kolom2 p{
    text-align: left;
    padding-top: 10px;
    width: 750px;
    white-space: pre-line;
}

.kolom2 h1{
    width: 750px;
}

.kolom2 h4{
    width: 750px;
    line-height: 30px;
    color: #B4B4B3;
    font-weight: lighter;
}

.tag{
    line-height: 50px;
    padding: 5px 3%;
    color: #ffffff;
    background: #ACA533;
    margin: auto 10px;
    border: 2px solid;
    text-align: center;
    font-size: 12px;
    transition: all ease-in-out .2s;
}

hr{
    width: 750px;
}

.komen h3{
    line-height: 60px;
    font-weight: lighter;
}

.komen textarea{
    font-size: 13px;
    width: 750px;
    height: 300px;
    outline: none;
    resize: none;
    padding: 10px;
}

.komen input{
    margin: 0 61px 0 0;
    outline: none;
    width: 250px;
    height: 30px;
    font-size: 13px;
    padding-left: 10px;
   
}

.komen button{
    outline: none;
    width: 120px;
    height: 30px;
    background: #ACA533;
    border: none;
    color: #ffffff;
}

.komen button:hover{
    background: #88832b;
    cursor: pointer;
}

