*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat';
}

*::-webkit-scrollbar{
    display: none;
}

body{
    font-family: 'montserrat';
    background: #ffffff;
}


.head-forum{
    width: 100%;
}

.nav2{
    background: url(../Image/forest.jpg) no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 58vh;
    position: relative;
}

.nav3{
    width: 100%;
    height: 50px;
    background: #aca533;
}

.nav3 ul{
    float: left;
    padding-left: 33.333%;
    margin-top: 15px;
    display: flex;
}

.nav3 ul li{
    display: inline-block;
    position: relative;
    margin-left: 1em;   
}

.buttonnav{
    color: white;
    font-size: 17px;
    padding: 1px 17px;
    position: relative;
}

.buttonnav:hover{
    color: #000000;
}

.bodi-forum::after{
    content: "";
    display: table;
}

.bodi-forum{
    width: 100%;
    min-height: 100%;
    background: url(../Image/wallpaper.jpg);
}

.konten-kiri{
    width: 70%;
    padding: 45px 120px;
    float: left;
}

.card{
    float: left;
    display: table;
    width: 700px;
    height: 150px;
    background: #ffffff;
    margin:5px auto;
}

.card img{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 20px;
    float: left;
}

.card h5{
    padding-top: 22px;
    padding-left: 15px;
    font-size: 18px;
}

.abu-abu{
    padding: 0 15px;
    color: silver;
    font-size: 13px;
}

.card a{
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-size: 15px;
}

.card ul{
    float: left;
    display: flex;
    padding-top: 32px;
    width: 480px;
}

.card ul li{
    display: table;
    margin-left: 15px;
    text-align: center;
    width: 100px;
    text-align: center; 
    border: 1px solid #aca533;
    background: #aca533;
    color: #ffffff;
    text-transform: uppercase;
}

.posisi{
    text-align: right;
    margin-top: 60px;
    font-size: 15px;
}

.konten-kanan{
    width: 30%;
    padding: 50px 0px;
    float: left;
}

.popular-tag{
    float: left;
    display: table;
    max-width: 280px;
    height: 150px;
    background: #ffffff;
}

.popular-tag h5{
    text-align: center;
    font-size: 20px;
    color: #000000;
}

.popular-tag a{
    color: #000000;
}

.popular-tag ul{
    float: left;
    display: flex;
    padding-top: 32px;
}

.popular-tag ul li{
    display: table;
    margin: 10px;
    text-align: center; 
    border: 1px solid #aca533;
    background: #aca533;
    color: #ffffff;
    text-transform: uppercase;
}