* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Montserrat';

}

*::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'montserrat';
    background: #ffffff;
}

.warna {
    background: rgb(181, 171, 22);
}

.kotakan {
    text-align: center;
    padding-top: 20px;
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    height: 600px;

}

.konten {
    padding: 100px;
}

.isi {
    border: 2px solid #000000;
    border-radius: 4px;
    text-align: left;
    padding: 20px;
}

.isi h1 {
    font-size: 40px;
}

.isi p {
    line-height: 25px;
    font-size: 18px;
}

.isi input {
    width: 250px;
    height: 30px;
    outline: none;
    padding-left: 10px;
}

.isi textarea {
    width: 95%;
    height: 250px;
    resize: none;
    outline: none;
    padding: 10px;
}

.isi button{
    background: rgb(181, 171, 22);
    color: #ffffff;
    outline: none;
    border: none;
    width: 200px;
    height: 30px;
}

.isi button:hover{
    background: rgb(128, 120, 16);
    color: #ffffff;
    cursor: pointer;
}

.filter{
    width: 200px;
    padding: 3px;
    margin-bottom: 8px;
}

.image-preview__image{
    display: none;
    width: 750px;
    min-height: 100px;
}
